<html>
    <body style="height: 480px; overflow: hidden">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 470px;">
            <div style="width: 60dvw; text-align: center; font-size: 2rem; font-family: cursive; font-weight: bold;">
                {{ fortuneText }}
            </div>
        </div>
    </body>
</html>
